*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

img{
    
    max-width: 100%;
}
body{
    
}

/*HEADER*/

.cabecalho{
    display: flex;
    padding: 0 30px 0 30px;
}

.menu{
    display: flex;
    padding-left: 30%;
    z-index: 1;
}

.menu li{
    padding-left: 20px;
}

.menu li a{
    color: #fff;
}

/*HERO CABEÇALHO*/
.container{
    margin-bottom: 20%;
}
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "texto imagem";
    padding: 0 30px 0 30px;
}

.texto{
    margin-top: 30%;
    grid-area: texto;
}
.texto .titulo{
    font-weight: 700;
    font-size: 40px;
}

.texto .texto-hero{
    margin-top: 10px;
    font-weight: 600;
    color: #477299;
}

.botao{
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    background: #0b4257;
    color: #fff;
    border: none;
}

.imagens{
    display: flex;
    grid-area: imagem;
    background-image: url("img/forma5.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 55%;
}

.img2{
    max-width: 90%;
}

/*SECTION*/

.parte1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "servicos img";
    background: linear-gradient(180deg, rgba(0,59,80,1) 0%, rgba(17,110,143,1) 50%, rgba(0,124,149,1) 100%);
    height: auto;
}
.div-img{
    grid-area: img;
    background: url(img/img_section.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.div-img img{
    display: none;
}
.servicos{
    grid-area: servicos;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "teste2"
     "teste3";
     padding: 30px;
     
}

.servicos h1{
    color: #fff;
}

.servicos p{
    color: #b6c6cd;
}

.imgservico{
    grid-area: img;
}

.teste2{
    display: flex;
    
    grid-area: teste2;
    
    grid-row: 1/2;
}

.teste2 li{
    display: flex;
    
}

.teste3{
    display: flex;
    
    grid-area: teste3;
    
    grid-row: 2/3;
}

.teste3 li{
    display: flex;
   
}

.tamanho {
    margin-right: 20px;
}

/*SECTION 2*/

.parte2{
    padding: 0 30px 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    
}

.sobre-nos{
    margin-bottom: 45px;
}

.sobre-nos h2{
    font-weight: 400;
    color: #0b4257;
    margin: 10px 10px;
}

.sobre-nos .titulo{
    font-weight: 700;
    font-size: 30px;
}

.titulo-azul{
    color: #477299;
    font-weight: 600;
}

.parte2 p{
    color: #333;
}

.gestao-eficiente{
    grid-column: 2/3;
    grid-row: -2/-1;
}

.desenvolvimento-web{
    grid-row: 2/3;
}

/*SECTION 3 */

.parte3{
    background: linear-gradient(180deg, rgba(0,59,80,1) 0%, rgba(17,110,143,1) 50%, rgba(0,124,149,1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img2 serv";
    column-gap: 30px;
    height: auto;
    align-items: center;
}

.div-img2{
    grid-area: img2;
    background: url(img/img_section3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.estrategia{
    grid-area: serv;
}

.div-img2 img{
    display: none;
}
.estrategia h1{
    color: #a4d7ef;
    font-size: 30px;
}

.estrategia p{
    color: #fff;
    font-weight: 700;
    margin: 20px 0 20px 0;
    
}

.estrategia ul li{
    
}

.estrategia ul p{
    display: inline;
    margin-left: 15px;
    
}

/*PARTE 4*/

.parte4{
    display: flex;
    padding: 5% 0 5% 0;
    justify-content: center;
}
.parte4 img{
    max-width: 40%;
}
.texto-mockup{
    margin-left: 2%;
}
.texto-mockup h1{
    font-size: 30px;
    font-weight: 700;
    color: #2a75b5;
}

.texto-mockup p{
    color: #333;
    text-align: left;
}

.texto-mockup button{
    border-radius: 20px;
    padding: 8px;
    color: #0b4257;
    border: 2px solid #0b4257;
    font-weight: 700;
    margin-top: 10px;
}

/*NEWSLETTER*/

.newsletter{
    background: #0b4257;
    padding: 10%;

}
.texto-form{
    text-align: center;
    margin-bottom: 20px;
}

.texto-form h1{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;

}

.texto-form p{
    color: #fff;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%;
}

form input{
    border-radius: 20px;
    padding: 5px;
    background: #0b4257;
    border: 2px solid #fff;
    margin-bottom: 3%;
    color:#fff;
}

input::placeholder{
    color: #fff;
}

.input-msg{
    grid-column: 1/3;
    height: 100px;
    background: #0b4257;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 5px;
    color: #fff;
}

.input-msg:focus{
    outline-color: #fff;
}


.newsletter button{
    border-radius: 20px;
    background: #fff;
    color: #0b4257;
    font-weight: 700;
    border-style: none;
    padding: 10px 5px 10px 5px;
}

.newsletter .div-botao{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}


/*FOOTER*/

.footer-map{
    background: #003146;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 15px;
}

.texto-footer h2{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}

.texto-footer p{
    color: #fff;
}

.footer-menu h2,a{
    color: #fff;
}

.footer-sobre{
    color: #fff;
}

.direitos-reservados{
    background: #00121a;
    color: #fff;
    text-align: center;
    padding: 15px;
}
